@import '../../styles-variables';

.container {
  display: flex;
  justify-content: center;
  padding: 32px 0 16px;
}

.titleContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.slideContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 16px 0 0;
}

.scrollSlideContainer {
  display: flex;
  justify-content: space-between;
  padding: 16px 0 0;
  overflow-x: auto;
  overflow-y: hidden;
}

.scrollSlideContainer::-webkit-scrollbar {
  display: none;
}

.itemContainer {
  display: flex;
  flex-direction: column;
  width: 23%;
  padding: 0 0 16px 0;
  cursor: pointer;

  @media (max-width: map-get($grid-breakpoints, md)) {
    width: 49%;
  }
  @media (max-width: map-get($grid-breakpoints, sm)) {
    width: 100%;
  }
}

.scrollItemContainer {
  display: flex;
  flex-direction: column;
  width: 23%;
  padding: 0 0 16px 0;
  cursor: pointer;
  &:last-child {
    padding: 0;
  }

  @media (max-width: map-get($grid-breakpoints, md)) {
    min-width: 260px;
    padding-right: 16px
  }
}

.imageContainer {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  justify-content: center;
}

.labelContainer {
  display: flex;
  justify-content: center;
  padding: 0 0 0 16px;
  max-height: 60px;
  min-height: 60px;
  flex-direction: column;
  background-color: $brandBlack
}

.image {
  width: 100%;
}

.headerText {
  font-size: 32px;
  font-family: sans-serif;
  color: #FFFFFF;
  cursor: default;
}

.eventLabel {
  font-size: 18px;
  font-family: sans-serif;
  color: #FFFFFF;
}

.nightClubLabel {
  font-size: 16px;
  font-family: sans-serif;
  color: #FFFFFF;
}

.viewAllLabel {
  font-size: 14px;
  font-family: sans-serif;
  color: $primaryColour;
  cursor: pointer;
}
