<div class="container">
  <div class="gutters">
    <div class="titleContainer">
      <span class="headerText">{{headerText}}</span>
      <span *ngIf="labels" class="viewAllLabel">{{labels.slideViewAllLabel}}</span>
    </div>
    <div [ngClass]="scrollOnMobile ? 'scrollSlideContainer' : 'slideContainer'">
      <div *ngFor="let item of results" [ngClass]="scrollOnMobile ? 'scrollItemContainer' : 'itemContainer'">
        <gridTile [item]=item></gridTile>
      </div>
    </div>
  </div>
</div>
