
<div class="headerContainer">

  <div class="desktopContainer gutters">
    <img src="https://res.cloudinary.com/pass-app/image/upload/v1562419816/pass%20app/global/pass-logo_kbgfah.jpg" class="logo">
    <div class="menuContainer in-gutters">
      <div class="menuItem" *ngFor="let item of headerItems">
        <span class="label">{{item.label}}</span>
      </div>
    </div>
    <div class="menuItem">
      <span class="label">MY BOOKINGS</span>
    </div>
  </div>

  <div class="mobileContainer gutters">
    <img src="https://res.cloudinary.com/pass-app/image/upload/v1562419816/pass%20app/global/pass-logo_kbgfah.jpg" class="logo">
    <img src="https://res.cloudinary.com/pass-app/image/upload/v1562419816/pass%20app/global/pass-logo_kbgfah.jpg" class="icon" (click)="onBurgerMenu()">

    <div class="burgerMenu" *ngIf="burgerMenu">
      <div class="closeContainer">
        <img src="https://res.cloudinary.com/pass-app/image/upload/v1562540770/pass%20app/global/close_xix5lt.png" class="icon" (click)="onBurgerMenu()">
      </div>
      <div class="mobileMenuItem" *ngFor="let item of headerItems">
        <span class="mobileLabel">{{item.label}}</span>
      </div>
      <div class="mobileMenuItem">
        <span class="mobileLabel">MY BOOKINGS</span>
      </div>
    </div>

  </div>

</div>
