@import '../styles-variables';

.headerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80px;
  border-bottom: 1px solid $darkGrey;

  @media (max-width: map-get($grid-breakpoints, md)) {
    height: 60px;
  }
}

.desktopContainer {
  display: flex;
  align-items: center;

  @media (max-width: map-get($grid-breakpoints, md)) {
    display: none;
  }
}

.mobileContainer {
  display: none;

  @media (max-width: map-get($grid-breakpoints, md)) {
    display: flex;
    justify-content: space-between;
  }
}

.menuContainer {
  display: flex;
  padding-left: 10%;
  margin-right: auto;
}

.menuItem {
  display: flex;
  align-items: center;
  padding: 0 24px;
}

.label {
  font-size: 14px;
  font-family: sans-serif;
  color: #FFFFFF;
  cursor: pointer;
}

.logo {
  width: 74px;
  height: 30px;
  cursor: pointer;
}

.icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.burgerMenu {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: $lightGrey;
  z-index: 10;
}

.closeContainer {
  display: flex;
  padding: 16px;
  justify-content: flex-end;
}

.mobileMenuItem {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  border-bottom: 1px solid $darkGrey;
}

.mobileLabel {
  font-size: 16px;
  font-family: sans-serif;
  color: $darkGrey;
  cursor: pointer;
}
