@import '../styles-variables';

.footerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 160px;
  border-top: 1px solid $darkGrey;
}

.desktopContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: map-get($grid-breakpoints, md)) {
    display: none;
  }
}

.mobileContainer {
  display: none;

  @media (max-width: map-get($grid-breakpoints, md)) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}

.menuContainer {
  display: flex;
  flex-direction: column;
  padding-left: 10%;
  margin-right: auto;
}

.menuMobileContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 8px;
}

.menuItem {
  display: flex;
  align-items: center;
  width: max-content;
  padding: 4px 24px;
}

.label {
  font-size: 14px;
  font-family: sans-serif;
  color: #FFFFFF;
  cursor: pointer;
}

.appsContainer {
  display: flex;
  justify-content: space-between;
  width: 270px;
}

.logo {
  width: 74px;
  height: 30px;
  cursor: pointer;
}

.apps {
  width: 128px;
  height: 42px;
  cursor: pointer;
}
