
<div class="container">
  <div class="imageContainer">
    <img src="https://res.cloudinary.com/pass-app/image/upload/v1562456047/pass%20app/homepage/athens-by-night_utcu4f.jpg" class="image">
  </div>
  <div class="labelContainer">
    <span *ngIf="headerText" class="header">{{headerText}}</span>
    <span *ngIf="subHeaderText" class="sub-header">{{subHeaderText}}</span>
  </div>
  <div class="searchContainer">
    <div class="filterSection">
      <div class="dropdownSection">
        <dropdown></dropdown>
      </div>
      <div class="dropdownSection">
        <dropdown></dropdown>
      </div>
      <div class="dropdownSection">
        <dropdown></dropdown>
      </div>
      <button class="primaryButton" (click)="onSearch()">Search Now</button>
    </div>
  </div>
</div>
