
<div class="container">
  <div class="imageContainer">
    <img src="https://res.cloudinary.com/pass-app/image/upload/v1562456047/pass%20app/homepage/athens-by-night_utcu4f.jpg" class="image">
  </div>
  <div class="labelContainer">
    <span class="header">Discover Athens Nightlife</span>
    <span class="sub-header">100s of Clubs, Bars and Live Venues available</span>
  </div>
  <div class="searchContainer">
    <div class="filterSection">
      <div class="dropdownSection">
        <dropdown></dropdown>
      </div>
      <div class="dropdownSection">
        <dropdown></dropdown>
      </div>
      <div class="dropdownSection">
        <dropdown></dropdown>
      </div>
      <button class="primaryButton" (click)="onSearch()">Search Now</button>
    </div>
  </div>
</div>
