@import '../../styles-variables';

.searchContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  height: 92px;
  width: 100%;
  position: absolute;
  bottom: 0px;

  @media (max-width: map-get($grid-breakpoints, md)) {
    display: none;
  }
}

.filterSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdownSection {
  padding-right: 16px;
}
