@import '../../styles-variables';

.tilesContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.item {
  display: flex;
  min-width: 32%;
  width: 32%;
  padding-bottom: 16px;

  @media (max-width: map-get($grid-breakpoints, md)) {
    min-width: 49%;
    width: 49%;
  }

  @media (max-width: map-get($grid-breakpoints, sm)) {
    min-width: 100%;
    width: 100%;
  }
}
