
<header></header>
<carousel
  [headerText]="translations.carouselHeader"
  [subHeaderText]="translations.carouselSubHeader"
  [image]="config.imageCarousel"
  [maxHeight]="config.imageCarouselMaxHeight"
  [searchBar]=config.showSearchBar>
</carousel>
<slide [results]="results" [headerText]="translations.todaySlideHeader" [translations]="translations" scrollOnMobile=true></slide>
<slide [results]="results" [headerText]="translations.weekSlideHeader" [translations]="translations"></slide>
<footer></footer>
