
<header></header>
<carousel
  [headerText]="config.labels.carouselHeader"
  [subHeaderText]="config.labels.carouselSubHeader"
  [image]="config.imageCarousel"
  [maxHeight]="config.imageCarouselMaxHeight"
  [searchBar]=config.showSearchBar>
</carousel>
<slide [results]="results" [headerText]="config.labels.todaySlideHeader" [labels]="config.labels" scrollOnMobile=true></slide>
<slide [results]="results" [headerText]="config.labels.weekSlideHeader" [labels]="config.labels"></slide>
<footer></footer>
