@import '../../styles-variables';

.container {
  display: flex;
  flex-direction: column;
  width: 600px;
}

.carouselContainer {
  display: flex;
  padding-bottom: 16px;
}

.image {
  width: 600px;
}

.imagesContainer {
  display: flex;
  width: 600px;
  overflow: hidden;
  justify-content: space-between;
}

.item {
  display: flex;
  cursor: pointer;
}

.itemImage {
  width: 115px;
}
