@import '../../styles-variables';

.container {
  display: flex;
  flex-direction: column;
  width: 600px;

  @media (max-width: map-get($grid-breakpoints, lg)) {
    width: 100%;
  }
}

.carouselContainer {
  display: flex;
  padding-bottom: 16px;
}

.image {
  width: 100%;
}

.imagesContainer {
  display: flex;
  // width: 600px;
  width: 100%;
  overflow: hidden;
  justify-content: space-between;
}

.item {
  display: flex;
  cursor: pointer;
  width: 18%;
}

.itemImage {
  width: 100%;
}
